.login-image {
  width: 15rem;
  object-fit: cover;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

mat-icon {
  color: rgb(53, 53, 53);
}

b {
  cursor: pointer;
  color: #3F51B5;
}

small {
  text-align: center;
}

.toggleShowPasswordButton {
  cursor: pointer;
}

.bottom-centered-items {
  margin-bottom: 1rem;
}

mat-error {
  margin-bottom: 10px !important;
}