.notifications-wrapper {
  margin-bottom: 2rem;
}

.chat-message-wrapper {
  margin: 1rem 0;
}
p {
  margin: 0;
}

.enable-notifications {
  font-weight: bold;
}

.user-name {
  font-weight: bold;
}

.time-stamp {
  color: gray;
}

.chat-message {
  color: gray;
}

.blue-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(15, 139, 255);
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
