<main fxLayoutAlign="space-between center" class="notifications-wrapper">
  <p class="enable-notifications">Enable Notifications</p>
  <mat-slide-toggle></mat-slide-toggle>
</main>

<mat-divider></mat-divider>

<main class="chat-message-wrapper" fxLayoutAlign="space-between">
  <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="blue-dot"></div>
    <img src="../../../assets/face.jpeg" alt="" class="profile-picture" />
    <div>
      <p class="user-name">Taras Migulko</p>
      <p class="chat-message">Like your work very much...</p>
    </div>
  </section>
  <p class="time-stamp">24 minutes</p>
</main>

<mat-divider></mat-divider>

<main class="chat-message-wrapper" fxLayoutAlign="space-between">
  <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="blue-dot"></div>
    <img src="../../../assets/profile1.jpg" alt="" class="profile-picture" />
    <div>
      <p class="user-name">Taras Migulko</p>
      <p class="chat-message">Like your work very much...</p>
    </div>
  </section>
  <p class="time-stamp">45 minutes</p>
</main>

<mat-divider></mat-divider>

<main class="chat-message-wrapper" fxLayoutAlign="space-between">
  <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="blue-dot"></div>
    <img src="../../../assets/profile2.jpg" alt="" class="profile-picture" />
    <div>
      <p class="user-name">Jesse Johnson</p>
      <p class="chat-message">I dont know about you, but...</p>
    </div>
  </section>
  <p class="time-stamp">57 minutes</p>
</main>

<mat-divider></mat-divider>

<main class="chat-message-wrapper" fxLayoutAlign="space-between">
  <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="blue-dot"></div>
    <img src="../../../assets/profile3.jpg" alt="" class="profile-picture" />
    <div>
      <p class="user-name">Tau Tonhon</p>
      <p class="chat-message">Hey more about yesterday...</p>
    </div>
  </section>
  <p class="time-stamp">1 hour</p>
</main>

<mat-divider></mat-divider>
