<main [style.width]="'100%'" fxLayout="column" fxLayoutAlign="center center">
  <section [style.width]="'90%'" class="mat-elevation-z4">
    <div style="padding: 15px" fxLayout="column" fxLayoutGap="25px">
      <h3>Tapahtumat</h3>

      <article fxLayout="row" fxLayoutAlign="space-between" class="profile">
        <div fxLayout="row" fxLayoutAlign="start end">
          <img
            src="../../assets/profile2.jpg"
            alt="profile-picture"
            class="mat-elevation-z3 profile-picture"
          />
          <div>
            <p class="name">Jesse Jokunen</p>
            <p class="green">Lähetti rahaa</p>
            <p class="phone-number">+358 1234567</p>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="end end">
          <p class="green">
            <span class="colon">:</span>13000€
          </p>
          <p class="phone-number">15.5.2021</p>
        </div>
      </article>

      <article fxLayout="row" fxLayoutAlign="space-between" class="profile">
        <div fxLayout="row" fxLayoutAlign="start end">
          <img
            src="../../assets/profile3.jpg"
            alt="profile-picture"
            class="mat-elevation-z3 profile-picture"
          />
          <div>
            <p class="name">Jesse Jokunen</p>
            <p class="green">Lähetti rahaa</p>
            <p class="phone-number">+358 1234567</p>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="end end">
          <p class="green">
            <span class="colon">:</span>100€
          </p>
          <p class="phone-number">15.5.2021</p>
        </div>
      </article>

      <article fxLayout="row" fxLayoutAlign="space-between" class="profile">
        <div fxLayout="row" fxLayoutAlign="start end">
          <img
            src="../../assets/profile4.jpg"
            alt="profile-picture"
            class="mat-elevation-z3 profile-picture"
          />
          <div>
            <p class="name">Jesse Jokunen</p>
            <p class="red">Pyyti rahaa</p>
            <p class="phone-number">+358 1234567</p>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="end end">
          <p class="red">
            <span class="colon">:</span>10€
          </p>
          <p class="phone-number">15.5.2021</p>
        </div>
      </article>

      <article fxLayout="row" fxLayoutAlign="space-between" class="profile">
        <div fxLayout="row" fxLayoutAlign="start end">
          <img
            src="../../assets/profile5.jpg"
            alt="profile-picture"
            class="mat-elevation-z3 profile-picture"
          />
          <div>
            <p class="name">Jesse Jokunen</p>
            <p class="green">Lähetti rahaa</p>
            <p class="phone-number">+358 1234567</p>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="end end">
          <p class="green">
            <span class="colon">:</span>877€
          </p>
          <p class="phone-number">15.5.2021</p>
        </div>
      </article>

      <article fxLayout="row" fxLayoutAlign="space-between" class="profile">
        <div fxLayout="row" fxLayoutAlign="start end">
          <img
            src="../../assets/profile6.jpg"
            alt="profile-picture"
            class="mat-elevation-z3 profile-picture"
          />
          <div>
            <p class="name">Jesse Jokunen</p>
            <p class="green">Lähetti rahaa</p>
            <p class="phone-number">+358 1234567</p>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="end end">
          <p class="green">
            <span class="colon">:</span>100€
          </p>
          <p class="phone-number">15.5.2021</p>
        </div>
      </article>

      <article fxLayout="row" fxLayoutAlign="space-between" class="profile">
        <div fxLayout="row" fxLayoutAlign="start end">
          <img
            src="../../assets/profile7.jpg"
            alt="profile-picture"
            class="mat-elevation-z3 profile-picture"
          />
          <div>
            <p class="name">Jesse Jokunen</p>
            <p class="green">Lähetti rahaa</p>
            <p class="phone-number">+358 1234567</p>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="end end">
          <p class="green">
            <span class="colon">:</span>100€
          </p>
          <p class="phone-number">15.5.2021</p>
        </div>
      </article>
    </div>
  </section>
</main>
