<div #navbar class="navbar-container">
  <mat-toolbar
    fxLayoutAlign="space-between center"
    class="mat-elevation-z2"
    id="navbar"
  >
    <div fxLayout fxLayoutAlign="start center" routerLink="/">
      <p>app</p>
    </div>

    <section fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="18px">
      <a fxHide.lt-sm>menu1</a>
      <a fxHide.lt-sm>menu2</a>
      <a fxHide.lt-sm>menu3</a>

      <button
        class="hamburger-menu"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        fxHide.gt-xs
      >
        <mat-icon>menu</mat-icon>
      </button>
    </section>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>menu1</span>
      </button>
      <button mat-menu-item>
        <mat-icon>euro</mat-icon>
        <span>menu2</span>
      </button>
      <button mat-menu-item>
        <mat-icon>system_update</mat-icon>
        <span>menu3</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>

<main fxLayoutAlign="center center">
  <section [style.width]="'50%'">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam officia,
      tempora voluptas facilis vero, impedit ipsum vitae accusantium nesciunt
      quis ratione asperiores eveniet illo dolore at autem. Adipisci fugiat
      aspernatur, eius neque molestiae iure ipsa ex officia molestias
      consectetur deserunt non? Atque dignissimos eveniet consectetur quisquam
      fuga soluta asperiores quibusdam voluptates! Minus autem incidunt
      provident quae voluptates. Ratione accusantium magni eius inventore,
      assumenda ad rerum nostrum voluptate labore ullam temporibus illum sequi,
      sit laudantium iusto placeat, sapiente maiores quam velit reprehenderit
      ducimus! Eveniet eos, ullam nam sint consequuntur eligendi! Harum neque
      dignissimos veniam id similique ratione. Debitis mollitia id, laborum
      magnam illo cum nulla dolore cumque corrupti voluptate distinctio
      accusantium tempore, fuga molestias. A dolorem laudantium doloremque esse
      animi non omnis distinctio ducimus nemo recusandae, inventore modi sequi
      porro consequuntur ipsum, deserunt amet! Optio magni earum ut perferendis
      id. Sunt cum reiciendis modi repellendus quidem, culpa voluptatem fugiat,
      rem aliquam maiores harum! Dicta qui magni doloribus iusto vero corrupti
      nostrum sapiente dolor incidunt? Voluptates voluptate saepe eum modi
      doloribus eius iste? Totam officiis inventore nihil optio recusandae nulla
      voluptate delectus perspiciatis mollitia doloremque natus eos porro quae
      repellat, nobis magni, minima, molestiae doloribus non ex fuga culpa a.
      Sit doloremque veritatis saepe labore? Labore quia enim ipsa nam
      voluptatem ad quibusdam, magnam exercitationem neque maxime, nostrum
      officia, veritatis voluptate aliquam iste iure assumenda eveniet debitis
      consequatur molestias. Inventore recusandae maiores distinctio rerum,
      minima exercitationem quam possimus numquam esse vel tempora, nostrum
      nulla, eum beatae totam quo? Odio recusandae modi ut hic non officiis
      quaerat? Quae nobis asperiores aspernatur architecto distinctio,
      doloremque corporis nisi nulla, aliquid ut natus dolor autem aperiam eaque
      earum quas minima deserunt ad. Nulla non praesentium corporis officiis
      recusandae sequi, est distinctio possimus dolorem eaque dolores sapiente
      cumque excepturi fugiat eos neque laudantium nisi facere, accusamus maxime
      aut? Vel perspiciatis totam voluptas, voluptatem alias repudiandae dolorem
      tempora eaque, nemo sunt id magni aspernatur. In ipsam odio consequatur
      debitis magnam a minima et animi beatae, ea numquam architecto officiis
      nesciunt tempore accusantium alias? Facere, excepturi reprehenderit.
      Ratione illum voluptates, reprehenderit velit, maiores totam perferendis
      excepturi, hic at perspiciatis est mollitia. Modi, a? Nulla suscipit
      temporibus earum quasi laudantium mollitia error a id deleniti illo nisi
      laborum reiciendis necessitatibus, non nesciunt unde enim vel nemo
      dignissimos exercitationem ab magnam aut. Quod reiciendis provident fugit
      repudiandae rerum, deleniti aut obcaecati molestiae sint omnis, unde velit
      aspernatur eius hic dignissimos, debitis iure nihil reprehenderit! Cumque
      delectus, ipsam dolore nesciunt fuga quis quos aliquam pariatur assumenda
      libero repudiandae, impedit nisi magni in rem atque error exercitationem
      recusandae ea aliquid! Nihil iste architecto itaque ab, porro ex impedit,
      ipsa, eos sequi doloremque quis inventore similique vitae atque obcaecati
      eius nesciunt qui eveniet! Eos, perspiciatis provident et placeat
      exercitationem cum, ratione quidem dolores unde aperiam quas sit
      necessitatibus ad sint nihil deserunt facilis consequatur dolorum quia
      quam suscipit sed beatae. Ex, explicabo magni libero quam accusantium
      tempore magnam nostrum? Possimus eligendi eaque, soluta voluptates officia
      dignissimos atque similique velit. Pariatur suscipit quisquam assumenda
      quis quam ipsum corporis voluptates totam tempora eveniet, non soluta quo
      obcaecati? Asperiores amet nam cupiditate ipsam eligendi debitis fuga nisi
      eum laboriosam corrupti? Praesentium, architecto quasi nesciunt atque
      minus doloribus, numquam rem optio reprehenderit sequi totam. Aspernatur
      iure harum similique dolore eum saepe reprehenderit eaque minima numquam
      sint officia, rerum ipsa pariatur facilis, tempore esse officiis.
      Accusantium, laborum? Nihil alias obcaecati facilis reprehenderit saepe.
      Illo delectus reiciendis ex, doloribus reprehenderit sapiente esse earum
      aliquam saepe numquam velit, recusandae totam, animi adipisci porro?
      Corporis architecto temporibus ipsum magni. Unde distinctio quia rem
      corporis sint ut ipsa voluptatibus quae autem voluptates in, nostrum
      corrupti impedit vel excepturi, dicta eveniet necessitatibus tenetur.
      Consequatur sint iusto, maxime voluptatibus perferendis, eaque iste beatae
      recusandae praesentium minus voluptatum, aliquam harum ullam voluptas
      autem vitae? Aliquid pariatur, dolore architecto commodi voluptate, et
      culpa tempore ad ea soluta in eum quia! Exercitationem distinctio
      accusamus quis modi odit nam, dolorum cum eius alias expedita odio libero
      eligendi, quia debitis tempore, assumenda fuga quos iste porro temporibus
      optio nesciunt consequatur ratione! Provident quas explicabo omnis
      laboriosam neque blanditiis sint enim voluptates incidunt, ducimus quo
      laudantium ad nihil! Vero nihil fugit ipsam ipsum alias tempora
      necessitatibus reiciendis fugiat facere inventore vitae dolorum amet animi
      laudantium aut cumque minima, quaerat ullam voluptate exercitationem
      beatae nemo officia sapiente? Obcaecati architecto modi dicta officiis,
      fuga unde dolore corporis veniam perferendis praesentium doloribus nihil
      explicabo voluptatem dignissimos repellat commodi consequatur, quae
      reprehenderit necessitatibus officia? Sed quos velit tempora nemo. Atque,
      porro facilis in odio tempore et consequatur modi ratione quaerat esse
      dolorum fugiat cumque. Doloremque minima, ea cupiditate earum laudantium
      et sequi quam facilis unde quisquam! Sed illum ullam quia, suscipit
      excepturi nisi inventore dignissimos a et est. Nam hic veritatis
      reiciendis quae earum soluta labore temporibus asperiores deleniti
      cupiditate reprehenderit consequatur ratione doloribus autem beatae eos,
      nisi, architecto doloremque perferendis iste, harum inventore. Ducimus,
      veritatis consequuntur tenetur porro assumenda atque commodi obcaecati
      minus doloribus harum, illum eum voluptatem dolor voluptate? Neque vitae
      soluta earum minus natus tenetur aspernatur maxime, praesentium cum magnam
      modi, laboriosam fuga quisquam ea est ex reiciendis sequi necessitatibus!
      Quia ab, pariatur ea praesentium reiciendis unde quas dolores eos facilis,
      consectetur excepturi, vero quibusdam nisi. Vel harum nemo, dicta odio
      tempore repellendus quo dolores commodi quis a cumque explicabo natus
      veritatis voluptate et itaque eos aspernatur vero, quas nam distinctio
      minus. Error expedita nulla ipsum esse debitis hic minima assumenda odit
      ratione omnis quisquam nobis qui iure autem, officia quasi? Quo, totam
      error. Fuga ullam delectus quod similique enim debitis repudiandae.
      Ratione doloribus voluptatem qui? Earum id sit ipsam, natus excepturi
      minima vero eum dignissimos sed rerum aliquam reiciendis ipsum dolore
      iusto dolor eveniet nam est optio aut cupiditate? Esse nisi illum vitae
      modi aspernatur tempora, ab error ipsum nostrum quos explicabo officiis
      quidem unde, ducimus odit! Magni earum repellendus consequuntur. Dolores
      quidem minus aperiam, numquam cupiditate ipsam laboriosam doloremque. Eos
      quod laboriosam animi delectus quibusdam dicta, a consectetur hic nesciunt
      voluptas! Quibusdam obcaecati velit nesciunt voluptas alias, tenetur
      debitis beatae necessitatibus incidunt odit et ex similique voluptatibus
      consequatur iure ratione ipsam impedit quasi aspernatur earum voluptate
      veniam adipisci suscipit? Quis, corrupti debitis voluptatum accusamus
      nulla deserunt doloribus laudantium consectetur fugit aliquid reiciendis
      laborum, neque itaque, dolorum eos excepturi! Eligendi nobis blanditiis
      adipisci, necessitatibus error beatae ipsa nulla voluptas quis natus
      pariatur reprehenderit, esse libero aliquid iste nihil ad quaerat quos
      sequi ab, temporibus veniam officiis iusto vero! Dolorum unde eligendi
      amet ea magni eum dolore, fugit officiis numquam mollitia vitae! Molestias
      suscipit vel inventore accusamus quis tempora perspiciatis dolorem, eum
      fugit quo quae vitae, ratione, ducimus praesentium cum delectus. Quam
      harum rerum adipisci eos animi delectus? Maxime dicta dolorem earum
      voluptate, impedit hic consequatur error nihil cupiditate enim odit
      maiores qui eveniet consectetur ad placeat minima, sapiente molestiae
      asperiores unde ratione vel sit nostrum. Pariatur illo deleniti inventore
      similique incidunt iste dicta est officia! Assumenda vero cupiditate in
      veritatis saepe porro excepturi minima quaerat deleniti maiores modi nam
      eos suscipit enim expedita necessitatibus aliquid, numquam aut laborum
      alias ullam nobis! Ipsa deleniti doloribus, rem nulla atque veritatis
      autem debitis, possimus porro impedit architecto at sed. Neque sit
      similique eaque nobis, illum expedita consequuntur a natus porro deserunt
      impedit eos autem possimus mollitia adipisci aperiam veritatis officiis
      inventore ad odio fuga. Quod commodi ut sunt! Cum at exercitationem
      consequuntur suscipit recusandae aperiam perferendis inventore? Quas
      tempora eius laboriosam praesentium, voluptatem ipsam quod asperiores
      mollitia quis perspiciatis dolore, recusandae voluptate esse amet, minima
      possimus aperiam quos. Nobis modi magni recusandae eos nostrum adipisci
      eaque tempore reiciendis amet incidunt doloremque pariatur, nemo commodi
      excepturi hic eum aperiam voluptatibus. Excepturi vero sunt fugit maxime
      voluptatibus fuga molestiae. Delectus, est repudiandae. Ab aut eos iure
      cupiditate at sit porro nihil id quisquam, dignissimos doloribus. Eveniet
      culpa, reiciendis vel voluptatem, alias ullam ducimus aliquam cum nihil
      odit consectetur iste quos veniam soluta rem labore laborum voluptates
      quis pariatur iure sequi quae at rerum. Amet, ducimus libero repudiandae
      dolorum aliquam dolorem vero illo architecto, accusamus magni perspiciatis
      delectus soluta tenetur voluptas inventore voluptatem aut dolor sit
      ratione odio eos sint doloremque hic. Dicta impedit autem beatae! Laborum
      esse explicabo nihil. Enim, iure explicabo excepturi ipsa ut aperiam
      debitis quasi animi officia, adipisci ratione in quos, cumque corporis
      laudantium doloremque aliquid aut sunt. Eveniet impedit iure dolorem
      voluptas, sit voluptatem tempora vitae distinctio dolor eos quasi
      accusamus laborum placeat cumque nulla totam tempore asperiores ex
      delectus, aperiam molestias nam ut. Minus magni necessitatibus id
      accusantium, velit laudantium et nulla cupiditate praesentium sed!
      Asperiores alias ducimus enim expedita consectetur ab laborum perspiciatis
      maiores provident! Vel in nostrum qui amet. Repudiandae quae aliquam
      magnam et perferendis voluptas labore odio molestiae debitis vel sint
      harum, laboriosam pariatur optio, quidem facere aperiam? Saepe doloremque
      rem alias temporibus aliquid hic dolorum commodi nulla accusantium
      voluptas. Voluptatem repellendus vel animi ab, ipsam earum quaerat.
      Corrupti modi, rem maiores, delectus quod ut eveniet quo molestiae laborum
      qui iusto. Praesentium dolores aperiam iste laboriosam, quas totam aut
      ducimus blanditiis aspernatur at consequuntur non odio eos vero deserunt
      quidem ea corporis id dicta sed adipisci provident. Exercitationem dolore
      maiores, reprehenderit, non fugit assumenda alias atque perferendis
      voluptatibus adipisci quo molestias. Perferendis autem nobis deleniti
      omnis necessitatibus architecto, minus eos quam magni sequi, aut,
      consequuntur esse et quia illo voluptas. Nostrum, laborum labore? Ipsa
      distinctio sint voluptatem hic quam quasi a deleniti accusantium incidunt.
      Repellendus inventore soluta, veritatis voluptate voluptatem magni vel
      nulla assumenda recusandae rerum dicta nemo! Recusandae est laboriosam sed
      error adipisci harum, inventore veritatis nobis magnam corrupti aut eos
      nemo quae provident quibusdam numquam soluta et consequatur nihil
      obcaecati iste? Ab nulla obcaecati doloribus architecto recusandae,
      aperiam numquam esse iusto inventore dolores. Quas nesciunt ea incidunt
      magnam quis quos. Ad molestiae illo minus optio temporibus amet non ipsa
      reprehenderit fuga provident, dolorum omnis autem nobis adipisci quaerat
      quasi error magnam facere quo, natus rem vero. Similique impedit corrupti
      ipsum! Alias quo corrupti incidunt debitis iure nam est! Eum laboriosam
      minus eveniet odio non ab. Maxime enim neque ipsa beatae ipsam officia
      quasi modi porro quidem harum natus non eaque, necessitatibus repellendus,
      reiciendis illo a aspernatur iure ex inventore odit totam delectus
      obcaecati nihil. Consequuntur inventore ut quasi non nesciunt facilis
      quibusdam asperiores mollitia pariatur libero similique facere hic
      deleniti commodi quae, alias aliquid optio provident est, ipsa veniam.
      Laudantium alias at corrupti eligendi? Earum quaerat ea autem inventore
      minima reiciendis! Totam aut aperiam, id aliquam quod magni eaque libero
      quia reiciendis incidunt perspiciatis modi adipisci iusto nesciunt,
      repudiandae quidem ad ex a voluptas temporibus doloremque? Fuga, harum,
      doloremque officiis ipsam consequuntur labore rerum, et eligendi quibusdam
      culpa vero similique iste neque laborum eaque suscipit iure non.
      Repellendus ratione impedit dolores quae deleniti dolor pariatur deserunt
      ipsum cupiditate. Amet reiciendis est nobis dicta illo nostrum quod earum
      perspiciatis nesciunt quasi molestiae esse fugiat, aperiam hic aut maiores
      beatae facere sequi ipsa distinctio quibusdam eaque voluptatum voluptate
      recusandae? Totam reprehenderit sapiente, iure id quasi corrupti itaque
      porro mollitia dicta consequatur facere magni ipsa? Repudiandae doloremque
      quas consectetur id ducimus temporibus possimus. Enim omnis veniam ullam,
      consequuntur qui, harum saepe hic, asperiores corporis ducimus sit ex
      minima. Dolores nihil vel aliquam repudiandae, aspernatur obcaecati modi!
      Soluta quod, odit ullam unde, voluptatem nulla dolor architecto et, veniam
      voluptates sequi nemo facere ipsa vero at itaque voluptate modi? Neque vel
      adipisci nostrum ratione reiciendis, iusto culpa omnis dolores dolore
      itaque sed nesciunt quidem ab molestiae impedit aliquid eligendi non amet
      vero a asperiores dolor alias totam aliquam? Ut quo a dolore modi vero
      culpa odit? Cumque error minima consequuntur earum quos? Voluptate
      reprehenderit modi facilis ipsum dolorem, fuga nobis commodi
      exercitationem. Excepturi dolorum adipisci obcaecati at deleniti corrupti
      est similique libero voluptates natus beatae doloribus voluptas et
      consequuntur, dolore sapiente magnam voluptatem odit laborum eaque ipsam,
      expedita labore voluptate aperiam? Pariatur iste iure ab illo in, eaque,
      dicta quae esse tempore consectetur ipsum assumenda quasi quisquam? Nisi
      atque iure praesentium porro harum ex sunt deleniti molestias, fuga sint
      inventore corporis totam perspiciatis doloremque possimus blanditiis modi
      quibusdam iusto perferendis? Ducimus enim quasi, accusamus dolorem ex,
      atque sequi optio, adipisci vitae repellat officia cum ea? Culpa error
      consequuntur doloremque? Suscipit, libero ullam. Cupiditate adipisci
      sapiente sit placeat itaque neque dolorum enim eum dolorem praesentium
      tenetur natus, possimus repellat assumenda totam tempore vitae aliquid
      autem explicabo. Dolorem ipsam aliquid impedit illum quidem enim
      voluptatem culpa et, dicta beatae praesentium minus hic sint rem ipsa
      animi est incidunt natus. Maiores aut quam, maxime esse recusandae iure
      amet, nobis itaque, dolore quia eos similique. Repellat excepturi voluptas
      at nostrum porro nobis laborum earum illo, tenetur ratione, debitis
      pariatur reiciendis maxime cum, perferendis modi nemo vel ad delectus
      laudantium quae quia eius saepe dolor! Voluptatibus numquam ut ullam
      delectus nesciunt corporis omnis quod quas, explicabo nobis laborum
      pariatur facilis perferendis nihil fuga aperiam maiores exercitationem ex
      alias iure repellat cumque. Numquam, vero reiciendis! Quo odit dicta porro
      sapiente ut, ipsa tempora qui suscipit alias, dolor itaque consectetur
      optio eum rerum vitae pariatur harum nihil voluptatum. Praesentium quia
      esse hic, numquam iure quae quis deleniti possimus eaque quidem suscipit
      obcaecati maxime voluptatibus neque dolor blanditiis ipsam illo nesciunt
      quaerat earum eius iste animi! Hic id blanditiis eligendi molestias
      ratione voluptas aperiam ea est beatae at vitae quidem saepe facilis animi
    </p>
  </section>
</main>
