<main fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px">
  <object
    width="300"
    data="../../../assets/svg/designer.svg"
    type="image/svg+xml"
  ></object>

  <section
    matRipple
    [style.width]="'90%'"
    fxLayoutAlign="space-between center"
    class="item-wrapper mat-elevation-z2"
  >
    <div>
      <p class="key-text">Looking for a</p>
      <p class="value-text">Influencer & Creator</p>
    </div>

    <button mat-icon-button><mat-icon>arrow_forward_ios</mat-icon></button>
  </section>

  <section
    matRipple
    [style.width]="'90%'"
    fxLayoutAlign="space-between center"
    class="item-wrapper mat-elevation-z2"
  >
    <div>
      <p class="key-text">Job industry</p>
      <p class="value-text">Fitness, Art, Fashion, Street</p>
    </div>

    <button mat-icon-button><mat-icon>arrow_forward_ios</mat-icon></button>
  </section>

  <section
    matRipple
    [style.width]="'90%'"
    fxLayoutAlign="space-between center"
    class="item-wrapper mat-elevation-z2"
  >
    <div>
      <p class="key-text">Looking for a</p>
      <p class="value-text">Influencer & Creator</p>
    </div>

    <button mat-icon-button><mat-icon>arrow_forward_ios</mat-icon></button>
  </section>
</main>
