main {
  margin-top: 0.7rem;
}

.item-wrapper {
  cursor: pointer;
  border-radius: 6px;
  padding: 0.6rem;

  .key-text {
    color: #8b8b8b;
  }

  .value-text {
    color: #4ac731;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

p {
  margin: 5px;
}
