<main fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="20px">
  <section
    matRipple
    [style.width]="'90%'"
    fxLayoutAlign="space-between"
    class="mat-elevation-z2 item-wrapper"
  >
    <div fxLayout="column" fxLayoutAlign="space-between">
      <p class="heading-text">Weather App frosted scenery sun</p>
      <div class="user" fxLayout="row" fxLayoutAlign="start center">
        <img src="../../../assets/face.jpeg" alt="" class="profile-picture" />
        <span>Christian Katka</span>
        <mat-icon class="shield-icon">security</mat-icon>
        <mat-icon class="verified-icon">verified</mat-icon>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between end">
      <img class="thumbnail" src="../../../assets/photo3.jpg" alt="" />
      <p class="statistics">3hours | 1383 watch</p>
    </div>
  </section>
</main>
