::ng-deep .mat-bottom-sheet-container {
  border-radius: 16px 16px 0px 0px;
}

.top-button {
  margin-bottom: -16px;
  mat-icon {
    color: rgb(144, 143, 143);
  }
}

header {
  p {
    font-weight: bold;
  }
}

.divider {
  margin-top: 20px;
}

.cancel-button {
  cursor: pointer;
  color: #FF6700;
  padding-bottom: 20px;
}
