<img src="../../../assets/face.jpeg" alt="" class="profile-picture" />
<section fxLayoutAlign="space-between start">
  <div>
    <div fxLayoutAlign="center center">
      <p class="user-name">Christian Kätkä</p>
      <mat-icon>verified</mat-icon>
    </div>
    <p>@cloudguy</p>
  </div>
  <button mat-raised-button (click)="startEditingProfile.emit()">Edit Profile</button>
</section>
<section fxLayout>
  <span class="bold-number" style="margin-right: 5px">862k</span>
  <span class="gray-text" style="margin-right: 10px">Followers</span>
  <span class="bold-number" style="margin-right: 5px">671k</span>
  <span class="gray-text">Following</span>
</section>

<mat-divider></mat-divider>
<p>My name is christian and I am very good at programming</p>
