.profile-picture {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

mat-icon {
  color: #248ce7;
  transform: scale(0.9);
}

mat-divider {
  margin: 1rem 0;
}

.bold-number {
  font-size: 20px;
  font-weight: bold;
}

.gray-text {
  color: #7e7e7e;
}
