<section fxLayoutAlign="center center">
  <img src="assets/art/authentication.png" alt="" />
</section>

<h2>To continue you must provide new password.</h2>

<form fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>

    <input
      matInput
      id="password"
      [type]="showPassword ? 'text' : 'password'"
      required
      minlength="8"
      maxlength="40"
    />
    <mat-icon matPrefix>lock</mat-icon>
    <mat-icon
      matSuffix
      (click)="showPassword = !showPassword"
      class="toggleShowPasswordButton"
      >{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
    >
  </mat-form-field>

  <button mat-raised-button mat-button color="primary">
    Change new password
  </button>

  <span routerLink="/sign-in">Go to login page</span>
</form>
