<section class="posts-filter-wrapper" fxLayoutAlign="space-around start">
  <p [class.active]="active">Activity</p>
  <p>Dynamic</p>
</section>

<section class="card mat-elevation-z3" fxLayout>
  <img class="thumbnail" src="../../../assets/photo3.jpg" alt="" />
  <div
    style="padding: 0.5rem"
    fxLayout="column"
    fxLayoutAlign="space-between"
  >
    <div>
      <span style="margin-right: 5px; font-weight: bold">OCTOBER 7th</span>
      <span style="color: #4ac731; font-weight: bold">16:30</span>
      <p style="font-weight: bold; line-height: 14px; margin-top: 5px">
        Pool Parties And Game Competitions
      </p>
    </div>
    <div fxLayout>
      <mat-icon>person</mat-icon>
      <span style="font-weight: bold">10</span><span>/10</span>
    </div>
  </div>
</section>

<section class="card mat-elevation-z3" fxLayout style="margin-top: 1rem">
  <img class="thumbnail" src="../../../assets/photo1.jpg" alt="" />
  <div
    style="padding: 0.5rem"
    fxLayout="column"
    fxLayoutAlign="space-between"
  >
    <div>
      <span style="margin-right: 5px; font-weight: bold">OCTOBER 7th</span>
      <span style="color: #4ac731; font-weight: bold">12:00</span>
      <p style="font-weight: bold; line-height: 14px; margin-top: 5px">
        Gardening and cooking grilled pork with bbq sauce
      </p>
    </div>
    <div fxLayout>
      <mat-icon>person</mat-icon>
      <span style="font-weight: bold">7</span><span>/10</span>
    </div>
  </div>
</section>