<header [style.width]="'100%'">
  <div [style.width]="'100%'" fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-icon-button
      aria-label="Close"
      (click)="close()"
      class="top-button"
    >
      <mat-icon>maximize</mat-icon>
    </button>
  </div>
  <p>Muokkaus toiminnot</p>
</header>

<mat-divider class="divider"></mat-divider>

<main>
  <mat-nav-list>
    <mat-list-item>
      <mat-icon matListIcon>content_copy</mat-icon>
      <p matLine>Kopio</p>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListIcon>share</mat-icon>
      <p matLine>Jaa</p>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListIcon>bookmark_border</mat-icon>
      <p matLine>Tallenna</p>
    </mat-list-item>
  </mat-nav-list>

  <div [style.width]="'100%'" fxLayout="row" fxLayoutAlign="center center">
    <a (click)="close()" class="cancel-button">Peruuta</a>
  </div>
</main>
