<div class="top-bar" fxLayoutAlign="space-between center">
  <div fxFlex="33" fxLayoutAlign="start center">
    <mat-icon>arrow_back_ios</mat-icon>
    <p class="back-button-text">Profile</p>
  </div>
  <p fxFlex="33" class="bold" style="text-align: center; font-size: 19px;">Settings</p>
  <div fxFlex="33"></div>
</div>



<main>
    <p class="heading">Account Settings</p>
    <section matRipple class="first-element" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <mat-icon class="material-icons-outlined">
          account_circle
          </mat-icon>
        <p class="text-field">Profile</p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </section>

    <section matRipple class="last-element" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <mat-icon class="material-icons-outlined">
          manage_accounts
          </mat-icon>
        <p class="text-field">Account Information</p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </section>

    <!-- ---------------- -->
    <p class="heading">Account Settings</p>
    <section matRipple class="first-element" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <mat-icon class="material-icons-outlined">
          email
          </mat-icon>
        <p class="text-field">Email Address</p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </section>

    <section matRipple class="middle-element" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <mat-icon class="material-icons-outlined">
          phone
          </mat-icon>
        <p class="text-field">Phone Number</p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </section>

    <section matRipple class="last-element" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <mat-icon class="material-icons-outlined">
          place
          </mat-icon>
        <p class="text-field">Residential Addresses</p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </section>

    <!-- -------- -->
    <p class="heading">Security Settings</p>
    <section matRipple class="first-element" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <mat-icon class="material-icons-outlined">
          password
          </mat-icon>
        <p class="text-field">Password Reset</p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </section>

    <section matRipple class="last-element" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <mat-icon class="material-icons-outlined">
          lock
          </mat-icon>
        <p class="text-field">Face ID And PIN</p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </section>

    <!-- ------- -->
    <p class="heading">App Settings</p>
    <section matRipple class="first-element" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <mat-icon class="material-icons-outlined">
          notifications
          </mat-icon>
        <p class="text-field">Notifications</p>
      </div>
      <mat-icon>arrow_forward_ios</mat-icon>
    </section>
</main>
